<h1>Admin::Genres#edit</h1>
<p>Find me in app/views/admin/genres/edit.html.erb</p>

<%= form_with model: @genre, url: admin_genre_path do |f| %>
<%= f.label :name, "ジャンル名" %>
<%= f.text_field :name %>
<%= f.submit "変更を保存",class: "btn" %>
<% end %>
